


/* ---- http://cssdeck.com/labs/pure-css-tree-menu-framework ---- */



/**
 * Framework starts from here ...
 * ------------------------------
 */

.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color: #555;
  position:relative;
}

.tree a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  margin-left: 9px;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

/* .tree:before, */
.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid;
}

.tree li {
  margin: 0;
  padding: 0 .7em; /* indentation + .5em */
  line-height: 2em; /* default list item's `line-height` */
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.tree li:before {
  content: "";
  display: block;
  width: 10px; /* same with indentation */
  height: 0;
  border-top: 1px solid;
  margin-top: -1px; /* border top width */
  position: absolute;
  top: 1em; /* (line-height/2) */
  left: 0;
}

.tree li:last-child:before {
  background: #ededed; /* same with body background */
  height: auto;
  top: 1em; /* (line-height/2) */
  bottom: 0;
}

.tree .has-children:before {
 content: "\1F5C0";
 background: #ededed;
 color: #797979;
 width: 20px !important;
 height: 18px !important;
 text-align: center;
 font: bold  21px/21px Helvetica, sans-serif;
 box-sizing: initial;
 overflow: initial;
}
.tree .open > .has-children:before {
  content: "\1F5C1";
  line-height: 12px !important;;
}

.tree li ul {
  max-height: 0;
  -webkit-transition: all 0s ease-in-out; /* Safari */
  transition: all 0s ease-in-out;
  overflow: hidden;
}

.tree li.open > ul {
  display: block;
  max-height: 500px;
}

.tree li.selected > a {
  color: #55B2B5;
}

.tree li.selected {
  color: #55B2B5;
}




